<!DOCTYPE html>
<html lang="en">
{% extends "SBFapp/topbar.html" %}

{% load socialaccount %}
{% load crispy_forms_tags %}
{% load static %}
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
</head>

{% block content %}
<style>
  body {
      background-color: rgb(255, 242, 230);
  }
</style>
<div class="row justify-content-md-center">
    <div class="col-7">
        {{ calendar }}
    </div>
    <div class="col-5 schedule-right justify-content-center">
      <div class="row"><h2>Create an Event</h2></div>
      <div class="row">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" style="background-color: rgb(35, 45, 75);" class="btn btn-primary btn-lg" value="Submit">
        </form>
        </div>
  </div>
</div>
{% endblock %}

</html>
