<!DOCTYPE html>
<html lang="en">
{% extends "SBFapp/topbar.html" %}

{% load socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
  body {
      background-color: rgb(255, 242, 230);
  }
</style>
<div class="row-12 mt-2 bottom-space">
  <h1 style="font-size: 300%; color: rgb(35, 45, 75)" class="ml-3">Calendar</h1>
  <hr style="width: 100%; color: rgb(35, 45, 75); height: 1px; background-color:rgb(35, 45, 75);" />
<div class="row justify-content-md-center">
    <div class="col-7">
        {{ calendar }}
    </div>
    <div class="col-5 schedule-right justify-content-center">
      <div class="row">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" class="btn btn-secondary btn-lg" style="background-color:rgb(35, 45, 75);" value="Update">
        </form>
        </div>
  </div>
</div>
{% endblock %}

</html>
